https://github.com/FirdousFatima562/c-language-project.githttps://github.com/FirdousFatima562/c-language-project.githttps://github.com/FirdousFatima562/c-language-project.git# Auto detect text files and perform LF normalization
* text=auto
